body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-weight: bold;
  color: #29b1dd;
}

header{
  height: 150px;
}

#header-top{
  height: 50%;
}

#header-bottom{
  background-color: #29b1dd;
  height: 50%;
}

main{
  background-color: #dddddd;
  height: calc(100vh - 150px);
}

#select-icons{
  width: 150px;
  cursor: pointer;
}

.em-col{
  margin: 30px 0;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  margin: 0 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

i{
  font-size: 40px;
}

.orange{
  color: orange;
}
.blue{
  color: blue;
}
.green{
  color: green;
}
